/* 
#dbcfb0 - Dutch White 
#bfc8ad - Laurel Green 
#90b494 - Dark Sea Green 
#718f94 = Steel Teal 
#545775 - Independence 
*/

body {
  width: 75%;
  margin: 0 auto;
}

h1 {
  font-family: "Rubik", sans-serif;
}

.text {
  /* margin-left: 10px; */
  background-color: #e8eedd;
  border-radius: 10px;
  padding: 20px;
  /* background-color: gray; */
}

.text a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projects {
  background-color: #e8eedd;
  border-radius: 5px;
  padding: 20px;
  margin-top: 1em;
}

ul {
  color: #e8eedd;
  margin-bottom: 2.5em;
}

.small-text {
  font-size: 0.9em;
  background-color: #90b494;
  border-radius: 2px;
  padding: 0.5em;
  width: fit-content;
}

a {
  text-decoration: none;
}

body {
  /* background-color: rgb(180, 180, 180); */
  background-color: rgb(25, 25, 25);
}

.main {
  max-width: auto;
  /* background-color: rgb(225, 225, 225); */
  background-color: rgb(50, 50, 50);
  border-radius: 25px;
  margin: 0 auto;
  padding: 2em;
  margin: 2em 2em 2em 2em;
  font-family: "Overpass", sans-serif;
}

.top-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1.5em;
  background-color: #4db1c3;
  background-color: #545775;
  border-radius: 2em;
}

.top-bar h1 {
  /* background-color: blue; */
  color: white;
  align-self: center;
  margin-right: 0.5em;
}

.top-bar nav {
  max-width: fit-content;
  padding-right: 10em;
  display: flex;
  /* justify-content: space-between; */
  /* border-bottom: black solid 0.15em; */
  /* margin-top: 1.5em; */
  /* margin-bottom: 1em; */
  /* background-color: greenyellow; */
}

.header2 {
  /* background-image: linear-gradient(
    25deg,
    rgb(190, 190, 190),
    rgba(22, 160, 160, 0.4)
  ); */
  /* padding: 2em; */
  /* margin-left: -2em; */
  /* margin-right: -2em; */
  /* padding-top: -1em; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* margin-bottom: 1.5em; */
  /* border-radius: 25px; */
  border-top: 2px solid rgb(230, 230, 230);
  padding-top: 1em;
}

.header2 h1 {
  color: rgb(230, 230, 230);
  font-size: 3em;
  margin-bottom: -0.25em;
  margin-top: 0em;
}

.header2 p {
  color: rgb(230, 230, 230);
  font-size: 1.5em;
  margin-bottom: 0.25em;
}

.header2 h2 {
  color: rgb(230, 230, 230);
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.breakoutDiv {
  margin: 0 auto;
  width: fit-content;
  margin-top: 30px;
}

.breakoutDiv button {
  font-size: 25px;
  font-family: "Overpass", sans-serif;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  border: none;
  background-color: rgb(117, 218, 117);
}

.breakoutDiv button:hover {
  font-size: 25px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  border: none;
  background-color: rgb(100, 160, 100);
}

.breakoutDiv button:active {
  font-size: 25px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  border: none;
  background-color: rgb(70, 125, 70);
}

.main nav .links {
  align-self: center;
  display: flex;
}

.main nav .links a {
  /* border-radius: 20px; */
  text-decoration: none;
  /* background-color: rgb(160, 160, 160); */
  border-right: solid rgb(50, 50, 50) 2px;
  color: white;
  margin: 2px;
  padding: 0px 20px;
}

/* don't put a divider on the last child in the nav bar. */
.main nav .links a:last-child {
  border-right: none;
}

.main nav .links a:hover {
  color: #d3f31d;
  font-weight: lighter;
  /* text-decoration: none;
  background-color: rgb(125, 125, 125);
  margin: 2px;
  padding: 20px; */
}

.main nav .links a:active {
  font-weight: bold;

  /* text-decoration: none;
  background-color: rgb(90, 90, 90);
  color: white;
  margin: 2px;
  padding: 20px; */
}

.image {
  margin: 0 auto;
}

.map-image {
  max-width: 896px;
  max-height: 505px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.idea-image {
  max-width: 1103px;
  max-height: 575px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.idea-image img {
  border-radius: 15px;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.map-image img {
  border-radius: 15px;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  background-image: url(../images/map.png);
}

.double-image {
  /* background-color: red; */
}

.double-image .image-area {
  max-width: 900px;
  max-height: 500px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 0 auto;
}

.double-image .image-area .cardcolors {
  max-width: 893px;
  max-height: 495px;
  margin-right: 20px;
}

.double-image .image-area .cardcolors img {
  border-radius: 15px;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.double-image .image-area .carditems {
  max-width: 888px;
  max-height: 495px;
}

.double-image .image-area .carditems img {
  border-radius: 15px;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.other-image {
  max-width: 898px;
  max-height: 505px;
}

.other-image img {
  border-radius: 15px;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.general-image {
  max-width: fit-content;
  margin: 0 auto;
}

.general-image img {
  border-radius: 1em;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.icon-image {
  max-width: 500px;
  max-height: 500px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 2em;
  background-color: #90b494;
  border-radius: 15px;
}

.img-txt {
  display: flex;
  justify-content: center;
  color: white;
  padding: 0.5em;
  font-size: 1.5em;
}

/* right margin only on left icon. */
.icon-image:last-child {
  margin-right: 0px;
}

.icon-image img {
  border-radius: 15px;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.split-row {
  display: flex;
  justify-content: space-around;
}

/* responsive youtube embeds */
.youtube-container {
  background-color: #e8eedd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 1em;
  max-width: 560px;
}

.youtube-wrapper {
  /* display: flex; */
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.youtube-wrapper iframe,
.youtube-wrapper object,
.youtube-wrapper embed {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* header 
font-family: "Rubik", sans-serif; */
/* paragraph 
font-family: "Overpass", sans-serif; */

/* change positioning of elements in top-bar */
@media only screen and (max-width: 1200px) {
  .top-bar {
    /* background-color: red; */
    flex-direction: column;
    align-items: center;
  }

  .top-bar nav {
    padding-right: 0em;
    padding-bottom: 1em;
  }
}

/* set split rows in project page to column flex direction */
@media only screen and (max-width: 750px) {
  .projects .split-row {
    flex-direction: column;
  }

  .icon-image {
    margin-right: 0em;
  }
}

/* change positioning of nav bar buttons and body size */
@media only screen and (max-width: 675px) {
  body {
    width: auto;
  }

  .top-bar {
    align-items: stretch;
  }
  .top-bar h1 {
    align-self: flex-start;
    font-size: 6vw;
  }

  .main .top-bar nav .links {
    /* margin-left: -10em; */
    padding-bottom: 0.5em;
    /* padding-right: 0.5em; */
    flex-direction: column;
    /* background-color: greenyellow; */
  }

  .main nav .links a {
    margin: 1em 0em;
  }

  /* add back right border on the last child. */
  .main nav .links a:last-child {
    border-right: solid rgb(50, 50, 50) 2px;
  }
}
